@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen bg-mauve-2 text-white;
  }

  #redwood-app {
    @apply h-full;
  }

  h3 {
    @apply text-xl font-bold text-tomato-9;
  }
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background-color: #625f69;
  border-radius: 8px;
  border: 6px solid #232225;
}
